body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-container img {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
}

.buttons-container a {
    display: inline-block;
    margin: 15px; /* Espacement entre les boutons */
    position: relative;
    text-decoration: none;
    color: #333; /* Couleur du texte par défaut */
    font-size: 18px; /* Taille du texte */
    transition: color 0.3s ease-in-out; /* Animation de la couleur du texte */
}

.buttons-container a:hover {
    color: #ff0000; /* Nouvelle couleur du texte au survol */
}

.buttons-container a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Épaisseur de la ligne */
    background-color: #ff0000; /* Couleur de la ligne */
    transition: width 0.3s ease-in-out; /* Animation de l'apparition de la ligne */
}

.buttons-container a:hover:after {
    width: 100%; /* La ligne s'étend sur toute la largeur au survol */
}

.signup-container {
    cursor: pointer;
}

.signup-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #0f6b02;
}
.line {
     border: 1px solid black;
    margin: 0px 20px; /* Ajout de marges de chaque côté */
    width: calc(100% - 40px); /* Largeur avec les marges */
}

/* base de tout les sites */

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}


.csv-container {
    margin: 20px 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 10px;
}

.green-container {
    margin-top: 20px;
     background-color: green;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px); /* 100% de la hauteur de la fenêtre moins la marge et le padding */
}


.top {
    flex: 1;
    /* La partie supérieure prendra tout l'espace disponible */
}

.bot {
    flex: 1;
    /* La partie inférieure prendra tout l'espace disponible */
}

/* PAGE COURSE */

.main-container {
            width: calc(100% - 80px); 
            max-width: 1200px; 
            margin: 20px auto;
            box-sizing: border-box;
            padding: 0 40px; 
        }

        .course-card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .course-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: calc(48% - 20px); 
            margin-bottom: 20px;
            box-sizing: border-box;
            position: relative;
        }

        .course-card img {
            width: 100%;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .course-info {
            padding: 20px;
            box-sizing: border-box;
        }

        .course-info p {
            margin: 5px 0;
        }

        .signup-button-container {
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.9); 
        }

        .signup-button-course {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .signup-button-course:hover {
            background-color: #45a049;
        }
